@{
    ViewBag.Title = "Home Page";
}
@model String
<div class="jumbotron">
    <h1>@Model</h1>
</div>

<script>
    function keepCalling() {
        console.log("keep calling");
    }

    //window.setInterval(keepCalling, 1000);

    function callASP() {
        var request = new XMLHttpRequest();
        request.open('GET', '/Countdown/TimeRemaining', true); // what url should I be using??

        request.onload = function () {
            if (request.status >= 200 && request.status < 400) {
                // Success!
                var resp = request.responseText;
            } else {
                // We reached our target server, but it returned an error
                console.log('whoops! ', request.status);
                console.log(request.statusText);
            }
        };

        request.onerror = function () {
            // There was a connection error of some sort
            console.log('Connection error!');
        };

        request.send();
    }

    callASP();
    window.setInterval(callASP, 1000);
</script>